
<footer class="footer footer-default">
	<div class="container">
		<nav>
			<ul>
				<li>
					<a href="/community">
						Community
					</a>
				</li>
				<li>
					<a href="/profile">
						Profile
					</a>
				</li>
			</ul>
		</nav>
		<div class="copyright">
			&copy;
			<script>
				document.write(new Date().getFullYear())
			</script>, Coded with <i class="fa fa-heart" style="color:#FB005A" aria-hidden="true"></i> by 
			<a href="github.com/maloRchrd/" target="_blank">Malo Richard</a>.
		</div>
	</div>
</footer>
