<div class="container">
	<div class="col-md-4 content-center">
		<div class="card card-login card-plain">
			<h1 class="title">Login</h1>
			<form class="form" method="POST" action="/login">


				<!-- <div class="button-container">
					<a href="#button" class="btn btn-primary btn-round btn-lg">Connect</a>
					<a href="#button" class="btn btn-primary btn-round btn-lg btn-icon" rel="tooltip" title="" data-original-title="Connect with Facebook">
						<i class="fa fa-facebook"></i>
					</a>
					<a href="#button" class="btn btn-default btn-round btn-lg btn-icon" rel="tooltip" title="" data-original-title="login with Linkdin">
						<i class="fa fa-linkedin"></i>
					</a>
					<a href="#button" class="btn btn-default btn-round btn-lg btn-icon" rel="tooltip" title="" data-original-title="or with Twitter">
						<i class="fa fa-twitter"></i>
					</a>
					<a href="#button" class="btn btn-default btn-round btn-lg btn-icon" rel="tooltip" title="connect me on Messenger">
						<i class="fa fa-comment"></i>
					</a>
				</div> -->

				<br>
				<div class="content">
					<div class="input-group form-group-no-border input-lg">
						<span class="input-group-addon">
							<i class="now-ui-icons users_circle-08"></i>
						</span>
						<input type="text" name="email" class="form-control" placeholder=" Email...">
					</div>
					<div class="input-group form-group-no-border input-lg">
						<span class="input-group-addon">
							<i class="now-ui-icons ui-1_lock-circle-open"></i>
						</span>
						<input type="password" name="password" placeholder="Password..." class="form-control" />
					</div>
				</div>
				<div class="footer text-center">
					<input type='submit' class="btn btn-primary btn-round btn-lg btn-block" value="Submit">
				</div>
				<div class="pull-left">
					<h6>
						<a href="/signin" class="link">Sign in</a>
					</h6>
				</div>
				<div class="pull-right">
					<h6>
						<a href="/reset-password" class="link">Password lost ?</a>
					</h6>
				</div>
			</form>
		</div>
	</div>
</div>
