<html lang="en">

<head>
	<title>About</title>
    <% include ./partials/head %>
</head>

<body class="landing-page">
    <!-- Navbar -->
    <% include ./partials/nav %>
    <!-- End Navbar -->
    <div class="wrapper">
        <div class="page-header page-header-small">
            <div class="page-header-image" data-parallax="true" style="background-image: url('/img/bg-10.jpg');">
            </div>
            <div class="container">
                <div class="content-center">
                    <h1 class="title">About</h1>
                </div>
            </div>
        </div>
        <div class="section section-about-us">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 offset-md-2 text-center">
                        <h2 class="title">What is Kommunities</h2>
                        <h5 class="description"><b>Open-Source </b>platforme for <b>NGO</b>, to help connect with their<b> membres and volunteers.</b> <br><br> <b>The app </b>is based on <b>4 main fuctionnalities:</b><br><br>
						<ul>
							<li><b>The Profile</b> to get to know more about members their values aspirations and past or future projects </li>
							<li><b>Community Search</b> to help you find partner near you with the skills they need for your project</li>
							<li><b>The Chat </b> that will help you keep in touch and exchange with each others</li>
							<li><b>The Community Map</b> to find people near you </li>
						</ul>
						 </h5>
                    </div>
                </div>
                <div class="separator separator-primary"></div>

            </div>
        </div>
		<div class=" text-center" >
            <div class="container" align="center">
				<% include ./partials/login-form %>
			</div>
		</div>
        <div class="section section-team text-center ">
            <div class="container">
                <h2 class="title">Here is our team</h2>
				<p class="description">Err... myself, fell free to <a href="#"> join </a></p>
                <div class="team">
                    <div class="row">
                        <div class="col-md-4">
                            <!-- <div class="team-player">
                                <img src="/img/avatar.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                                <h4 class="title">Romina Hadid</h4>
                                <p class="category text-primary">Model</p>
                                <p class="description">You can write here details about one of your team members. You can give more details about what they do. Feel free to add some
                                    <a href="#">links</a> for people to be able to follow them outside the site.</p>
                                <a href="#pablo" class="btn btn-primary btn-icon btn-icon-mini"><i class="fa fa-twitter"></i></a>
                                <a href="#pablo" class="btn btn-primary btn-icon btn-icon-mini"><i class="fa fa-instagram"></i></a>
                                <a href="#pablo" class="btn btn-primary btn-icon btn-icon-mini"><i class="fa fa-facebook-square"></i></a>
                            </div> -->
                        </div>
                        <div class="col-md-4 col-md-offset-3">
                            <div class="team-player">
                                <img src="/img/ryan.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                                <h4 class="title">Malo Richard</h4>
                                <p class="category text-primary">Entrepreneur & Js dev</p>
                                <p class="description">You can write here details about one of your team members. You can give more details about what they do. Feel free to add some
                                    <a href="#">links</a> for people to be able to follow them outside the site.</p>
                                <!-- <a href="#pablo" class="btn btn-primary btn-icon btn-icon-mini"><i class="fa fa-twitter"></i></a> -->
                                <!-- <a href="#pablo" class="btn btn-primary btn-icon btn-icon-mini"><i class="fa fa-linkedin"></i></a> -->
                            </div>
                        </div>
                        <!-- <div class="col-md-4">
                            <div class="team-player">
                                <img src="/img/eva.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                                <h4 class="title">Eva Jenner</h4>
                                <p class="category text-primary">Fashion</p>
                                <p class="description">You can write here details about one of your team members. You can give more details about what they do. Feel free to add some
                                    <a href="#">links</a> for people to be able to follow them outside the site.</p>
                                <a href="#pablo" class="btn btn-primary btn-icon btn-icon-mini"><i class="fa fa-google-plus"></i></a>
                                <a href="#pablo" class="btn btn-primary btn-icon btn-icon-mini"><i class="fa fa-youtube-play"></i></a>
                                <a href="#pablo" class="btn btn-primary btn-icon btn-icon-mini"><i class="fa fa-twitter"></i></a>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
        <% include ./partials/getintouch %>

    </div>
</body>
<% include ./partials/footer %>

</html>
