<html lang="en">

<head>
    <% include ./partials/head %>
	<title>Contact</title>
</head>

<body class="landing-page">
    <!-- Navbar -->
    <% include ./partials/nav %>
    <!-- End Navbar -->
    <div class="wrapper">
        <div class="page-header page-header-small">
            <div class="page-header-image" data-parallax="true" style="background-image: url('/img/bg-12.jpg');">
            </div>
            <div class="container">
                <div class="content-center">
                    <h1 class="title">Contact</h1>
                    <!-- <div class="text-center">
                        <a href="#pablo" class="btn btn-primary btn-icon  btn-icon-mini">
                            <i class="fa fa-facebook-square"></i>
                        </a>
                        <a href="#pablo" class="btn btn-primary btn-icon btn-icon-mini">
                            <i class="fa fa-twitter"></i>
                        </a>
                        <a href="#pablo" class="btn btn-primary btn-icon  btn-icon-mini">
                            <i class="fa fa-google-plus"></i>
                        </a>
                    </div> -->
                </div>
            </div>
        </div>
        <!-- <div class="section section-about-us">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 offset-md-2 text-center">
                        <h2 class="title">What is Kommunities</h2>
                        <h5 class="description"><b>Open-Source </b>platforme for <b>NGO</b>, to help connect with their<b> membres and volunteers.</b> <br><br> <b>The app </b>is based on <b>4 main fuctionnalities:</b><br><br>
						<ul>
							<li><b>The Profile</b> to get to know more about members their values aspirations and past or future projects </li>
							<li><b>Community Search</b> to help you find partner near you with the skills they need for your project</li>
							<li><b>The Chat </b> that will help you keep in touch and exchange with each others</li>
							<li><b>The Community Map</b> to find people near you </li>
						</ul>
						 </h5>
                    </div>
                </div>
                <div class="separator separator-primary"></div>

            </div>
        </div>
		<div class=" text-center" >
            <div class="container" align="center">
				<h2 class="title">Register</h2>

			</div>
		</div> -->
        <% include ./partials/getintouch %>

    </div>
</body>
<% include ./partials/footer %>

</html>
