<html lang="en">

<head>
	<title>About</title>
    <% include ./partials/head %>
</head>

<body class="landing-page">
    <!-- Navbar -->
    <% include ./partials/nav %>
    <!-- End Navbar -->
    <div class="wrapper">
        <div class="page-header page-header-small">
            <div class="page-header-image" data-parallax="true" style="background-image: url('/img/bg-10.jpg');">
            </div>
            <div class="container">
                <div class="content-center">
                    <h1 class="title">Credits</h1>
					<h6 ><em>A big thanks for all the open content, media, sofware, i used to create this site. </em></h6>
                    <!-- <div class="text-center">
                        <a href="#pablo" class="btn btn-primary btn-icon  btn-icon-mini">
                            <i class="fa fa-facebook-square"></i>
                        </a>
                        <a href="#pablo" class="btn btn-primary btn-icon btn-icon-mini">
                            <i class="fa fa-twitter"></i>
                        </a>
                        <a href="#pablo" class="btn btn-primary btn-icon  btn-icon-mini">
                            <i class="fa fa-google-plus"></i>
                        </a>
                    </div> -->
                </div>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 offset-md-2 text-center">
                        <h2 class="title">Pictures</h2>
                        <h6 class="description">
							<ul>
								<li>Silvestri Matteo on Unsplash </li>
								<li>Rob Bye on Unsplash</li>
								<li>Mathyas Kurmann on Unsplash</li>
								<li>rawpixel.com on Unsplash</li>
							</ul>
						</h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 offset-md-2 text-center">
                        <h2 class="title">Code</h2>
                        <h6 class="description">
							<ul>
								<li> <a href="https://daneden.github.io/animate.css/">Animate css</a> Another thing from Daniel Eden. </li>
								<li>Now UI by <a href="https://www.creative-tim.com/product/now-ui-kit">Creative Tim</a></li>
							</ul>
						</h6>
                    </div>
                </div>
            </div>
        </div>


        <% include ./partials/getintouch %>

    </div>
</body>
<% include ./partials/footer %>

</html>
